// Black
$black: #000;

// Blue
$blue-1: #0C2D57; $blue-2: #0A1D56; $blue-3: #030637;

// Gray
$gray: #808080; $gray-1: #C7C8CC;
$silver: #C0C0C0;

// Green
$green-1: #65B741; $green-2: #436850;

// Purple
$purple-1: #424769;

// White
$white: #FFF;