// OpenSans
@font-face {
  font-family: 'OpenSans-R';
  src: url('../../fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'OpenSans-B';
  src: url('../../fonts/Poppins-Bold.ttf');
}

// Dancing
@font-face {
  font-family: 'Dancing-B';
  src: url('../../fonts/DancingScript-Bold.ttf');
}