// Headings
h1, h2, h3 {font-family: 'OpenSans-B';}

h1 {font-size: 3.8rem;}
h2 {font-size: 3.4rem;}
h3 {font-size: 3.0rem;}

// Paragraphs
p {font-size: 2.5rem;}

// Links
a {
  font-size: 2.2rem;
  text-decoration: none;
}